.gameeditor_container {
    background-color: #D6DBDF;
    text-align: center;
}

    .gameeditor_container .form_inf {
        text-align: center;
        color: #333;
        font-size: 23px;
        font-family: roboto;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 50px;
    }

/*.form_container {
}

    .form_container .inputs {
    }*/

.form_container .inputs input {
    width: 300px;
    line-height: 30px;
    border: 1px solid #333;
    border-radius: 13px;
    background-color: #D6DBDF;
    outline: none;
    font-family: roboto;
    font-weight: 400;
    padding-left: 2px;
    padding-right: 2px;
}

    .form_container .inputs input:focus {
        border: 1px solid #337ab7;
    }

.form_container .inputs .input_names {
    font-size: 20px;
    font-family: roboto;
    font-weight: 600;
}

.form_container .inputs textarea {
    width: 79%;
    border: 1px solid #333;
    border-radius: 13px;
    height: 130px;
    outline: none;
    background-color: #D6DBDF;
    font-family: roboto;
    font-weight: 400;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

    .form_container .inputs textarea:focus {
        border: 1px solid #337ab7;
    }

.form_container .inputs img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.buttons {
    margin: 20px 0 15px 0;
}

    .buttons input {
        width: 100px;
        text-align: center;
        height: 50px;
        background-color: #566573;
        border-color: #808B96;
    }

.validation_box {
    margin: 5px 0 5px 0;
}

    .validation_box span {
        color: #C0392B;
        font-family: roboto;
        font-style: italic;
        font-weight: 600;
        border-bottom: 1px solid;
        font-family: roboto;
        font-size: 17px;
    }