<div class="gameeditor_container">
    <div class="container">
        <div class="form_inf">
            <div class="col-md-12">
                <div class="row">
                    <div> This form used to add or edit games</div>
                </div>
            </div>
        </div>

        <div class="form_container">
            <div class="col-md-12">
                <form name="edit" novalidate ng-submit="ctrl.addGame()">
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names"> Name of the Game </label><br />

                            <input type="text"  name="name" ng-model="ctrl.model.name" ng-required="true" placeholder="Name"/>
                        </div>
                        <div class="validation_box" ng-show="edit.name.$invalid && edit.name.$dirty">
                            <span ng-show="edit.name.$error">Enter the game name</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names">Release Date</label><br />

                            <input type="text" name="year" ng-model="ctrl.model.year" ng-pattern="ctrl.yearPattern" ng-required="true" placeholder="dd.mm.yyyy"/>
                        </div>
                        <div class="validation_box" ng-show="edit.year.$invalid && edit.year.$dirty">
                            <span ng-show="edit.year.$error">Enter release date of the game</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names">Platforms</label><br />

                            <input type="text" name="platform" ng-model="ctrl.model.platform" ng-required="true" placeholder="Platform"/>
                        </div>
                        <div class="validation_box" ng-show="edit.platform.$invalid && edit.platform.$dirty">
                            <span ng-show="edit.platform.$error">Enter platforms on which this game is available</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names">Price</label><br />

                            <input type="text" name="price" ng-model="ctrl.model.price" ng-pattern="ctrl.pricePattern" ng-required="true" placeholder="Price"/>
                        </div>
                        <div class="validation_box" ng-show="edit.price.$invalid && edit.price.$dirty">
                            <span ng-show="edit.price.$error">Enter a price of this game</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names">Description</label><br />

                            <textarea name="description" ng-model="ctrl.model.description" ng-required="true"></textarea>
                        </div>

                        <div class="validation_box" ng-show="edit.description.$invalid && edit.description.$dirty">
                            <span ng-show="edit.description.$error">Enter a description of this game</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <label class="input_names">Image</label><br />

                            <input type="url" name="image" ng-model="ctrl.model.image" ng-required="true" placeholder="Image URL"/>
                        </div>
                        <div class="validation_box" ng-show="edit.image.$invalid && edit.image.$dirty">
                            <span ng-show="edit.image.$error">Enter URL with image of this game</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputs">
                            <img ng-src="{{ctrl.model.image}}" />
                        </div>

                    </div>
                    <div class="row buttons">
                        <input class="btn btn-primary " type="submit" value="Add" ng-disabled="edit.$invalid"/>
                        <input class="btn btn-primary" type="button" value="Cancel" ng-click="ctrl.clear()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>